<h1>Dog Breed Classification</h1><br>
<br>

There are many different versions of dog breeds that are out there in the world. I will use image classification algorithms to provide the most accurate predictions of using deep learning to have it correctly predict dog breeds based on the images that it detects and generates. 

<br>
The setup consists of a labels.csv file which consists of breed names and the image ids. There are two folders, test and train, that contain images of dogs. There will be training done on the images in the train folder.
<br>
The dataset comes from Kaggle, as the Dog Breed Identfication problem was a competition that was posted on their website. The citation can be found here.
<br><br>
Will Cukierski. Dog Breed Identification. https://kaggle.com/competitions/dog-breed-identification, 2017. Kaggle.
<br>

Notes:<br>
This was executed on an Anaconda environment using the following packages and respective versions.
<br>
<ul>
<li>Python v3.10.13</li>
<li>Tensorflow v2.12.0</li>
<li>Keras v2.12.0</li>
<li>Numpy v1.23.5</li>
<li>Pandas v2.2.3</li>
<li>Matplotlib-base v3.10.0</li>
</ul>

In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = pd.read_csv("dog-breed-identification/labels.csv")
labels.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [3]:
labels.shape

(10222, 2)

In [4]:
labels.columns

Index(['id', 'breed'], dtype='object')

In [5]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10222 entries, 0 to 10221
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10222 non-null  object
 1   breed   10222 non-null  object
dtypes: object(2)
memory usage: 159.8+ KB

In [6]:
labels.isnull()

          id  breed
0      False  False
1      False  False
2      False  False
3      False  False
4      False  False
...      ...    ...
10217  False  False
10218  False  False
10219  False  False
10220  False  False
10221  False  False

[10222 rows x 2 columns]

In [7]:
labels.describe()

                                      id               breed
count                              10222               10222
unique                             10222                 120
top     000bec180eb18c7604dcecc8fe0dba07  scottish_deerhound
freq                                   1                 126

In [8]:
import os
os.getcwd()

'/Users/mjchin/Desktop/CUB_OMS_CS/Summer_2025/CSCA_5642_Intro_DL/FinalProject'